.domain-page {

  .company-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--shade-200);
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .company-logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1rem;
    background-color: var(--shade-100);
    box-shadow: 0 0 0 1px var(--shade-200);
  }

  .company-title {
    font-size: 1.5rem;
    font-weight: 800;
    // color: var(--primary-600);
  }

  .company-description {
    font-size: 1rem;
    color: var(--shade-700);
  }


  @media (max-width: 768px) {
    .company-logo {
      width: 30px;
      height: 30px;
      overflow: visible;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .company-title {
      font-size: 1.1rem;
    }
  }


}