.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 800px;
  padding: 0 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: calc(50% - 800px + 100px);
  height: 100%;
  width: calc(200px + 2rem);
  padding: 2rem 0;
  border-right: 1px solid var(--shade-200);
}

.logo {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--primary-950);
  margin-bottom: 2rem;
  padding-left: 0.5rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-nav-header {
  flex-grow: 1;
}

.sidebar-nav-footer {
  display: flex;
  flex-direction: column;
  // align-items: space-between;
  flex-direction: row;
}

.sidebar-nav-footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 2rem;
  background-color: transparent;
  padding: 0;
  font-size: 1.5rem;
  color: var(--shade-600);
  transition: color 0.2s ease-in-out;
  margin-right: 1rem;
  cursor: pointer;

  &:hover {
    color: var(--shade-900);
  }
}

button.sidebar-nav-footer-item {
  border: 0;
  flex-grow: 1;
}

.sidebar-nav-item {
  display: flex;
  background-color: var(--shade-50);
  padding: 0.3rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  color: var(--shade-800);
  margin-bottom: 1rem;

  &:hover,
  .active {
    background-color: var(--shade-200);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sidebar-toggle {
  display: none;
  width: 2rem;
  height: 2rem;
  background-color: var(--shade-100);
  border: 1px solid var(--shade-300);
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar-nav-copyright {
  margin-top: 3rem;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: var(--shade-600);

    &:hover {
      color: var(--shade-900);
    }
  }
}

.sidebar-nav-footer-links {
  @extend .sidebar-nav-copyright;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.mobile-header {
  display: none;
}

@media (max-width: 768px) {
  .mobile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .container {
    padding-top: 0;
  }

  .mobile-header-logo {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--primary-950);
    padding-left: 0.5rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .sidebar {
    position: normal;
    left: 0;
    max-width: 90%;
    background-color: var(--shade-100);
    padding: 1rem;
    display: none;

    &.open {
      display: block;
    }
  }

  .sidebar-nav-item {
    background-color: var(--shade-300);
  }

  .sidebar-toggle {
    display: block;

    &.open {
      background-color: var(--shade-200);
      margin-left: 15rem;
      text-align: right;
      z-index: 2;
    }
  }

  .sidebar {
    position: fixed;
    left: -100%;
    width: 80%;
    max-width: 300px;
    transition: left 0.3s ease-in-out;
    z-index: 1001;

    &.open {
      left: 0;
      z-index: 1;
    }
  }
}