@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import "./layout.scss";
@import "./message-card.scss";
@import "./message-form.scss";
@import "./animations.scss";
@import "./utils.scss";
@import "./typography.scss";
@import "./domain-page.scss";
@import "./welcome-modal.scss";

:root {
  // tailwind slate colors
  --shade-950: #0f172a;
  --shade-900: #1e293b;
  --shade-800: #334155;
  --shade-700: #475569;
  --shade-600: #64748b;
  --shade-500: #94a3b8;
  --shade-400: #cbd5e1;
  --shade-300: #e2e8f0;
  --shade-200: #e2e8f0;
  --shade-100: #f8fafc;
  --shade-50: #f8fafc;

  // purple-blue (indigo) color
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --primary-950: #1e1b4b;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Fira Code", monospace;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--shade-950);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html.dark {
  // Invert all colors
  filter: invert(1) hue-rotate(180deg);
}
