.message-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  max-width: 800px;
}

.message-card {
  border: 1px solid var(--shade-200);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.message-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.message-card-header-text {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}

.message-card-header-sender {
  display: flex;
  align-items: flex-start;
}

.message-card-header-sender-text {
  @extend .message-card-header-text;
  font-size: 0.7rem;
  line-height: 0.7rem;
  opacity: 0.8;
}

.message-card-header-sender-name {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: var(--primary-800);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.internal {
    font-weight: normal;
    color: var(--shade-900);
    font-size: 0.9rem;
  }
}

.message-card-header-timestamp {
  @extend .message-card-header-text;
  font-size: 0.7rem;
  display: inline;
  margin-left: 1rem;
}

.message-card-header-logo {
  img {
    width: 30px;
    height: 30px;
    margin-right: 0.8rem;
    margin-top: 2px;
    border-radius: 3px;
    object-fit: cover;
    opacity: 0.9;
    box-shadow: 0 0 0 1px var(--shade-200);
  }
}

a.message-card-header-logo:hover {
  img {
    opacity: 1;
  }
}

.message-card-verify-button {
  @extend .message-card-header-text;

  width: 50px;
  cursor: pointer;
  text-align: center;
  margin-left: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.message-card-verify-status {
  width: 50px;
  height: 20px;
  overflow: hidden;
  text-align: right;
  margin-left: 1rem;
  // margin-top: -3px;
  position: relative;
}

.message-card-verify-icon {
  display: inline-block;
  font-weight: bold;

  &.verifying {
    cursor: wait;
  }

  &.valid {
    color: #4caf50;
  }

  &.invalid {
    color: #f44336;
  }

  &.error {
    color: #d6750c;
    font-size: 0.9rem;
  }
}

.message-card-content {
  padding-top: 0.5rem;
  white-space: break-spaces;
}

.message-card-skeleton {
  @extend .message-card;
  height: 100px;
}

@media (max-width: 768px) {
  .message-card-header-sender-name {
    display: flex;
    flex-direction: column;
  }

  .message-card-header-timestamp {
    margin-left: 0;
  }
}

.message-card-footer {
  display: flex;
  margin-top: 1.5rem;
}

.like-button-container {
  display: flex;
}

.like-button {
  display: flex;
  align-items: flex-end;
  border: 0;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 9999px;
  margin-left: -4px;
  
  span {
    fill: #e53e3e !important;
  }

  &:hover {
    background: #ffeaea;
    color: #e53e3e;

    span path {
      stroke: #e53e3e !important;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.like-count {
  font-size: 0.9em;
  margin-left: 4px;
  line-height: 1rem;
}
