.message-form {
  border: 1px solid var(--shade-400);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  overflow: hidden;

  textarea {
    width: 100%;
    min-height: 100px;
    border: none;
    resize: vertical;
    font-size: 16px;
    padding: 1rem;
    background-color: transparent;
    margin-bottom: 0;

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--shade-100);
    }
  }
}

.message-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--shade-200);
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
}

.message-form-character-count {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: var(--shade-600);
  font-size: 0.9rem;
  flex-grow: 1;
}

.message-form-footer-message {
  font-size: 0.85rem;
  color: var(--shade-700);
  font-style: italic;
  padding-right: 0.5rem;
}

.message-form-footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;

  &:disabled {
    cursor: not-allowed;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--shade-700);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &:hover {
      color: var(--shade-950);
    }
  }
}

.message-form-refresh-icon {
  font-size: 1.5rem;
  margin-bottom: 3px;
  transition: all 0.3s ease;

  &:hover {
    color: var(--shade-950);
    transform: rotate(90deg);
  }
}

.message-form-reset-icon {
  font-size: 1.1rem;
  margin-top: 3px;
  font-weight: bold;
}

.message-form-post-button {
  background-color: var(--primary-900);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  min-width: 70px;
  height: 2rem;

  &:hover {
    background-color: var(--primary-950);
  }

  &:disabled {
    background-color: var(--shade-400);
    cursor: not-allowed;
  }
}

.message-form-oauth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-form-oauth-button {
  background-color: white;
  border: 1px solid var(--shade-400);
  border-radius: 0px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
}

@media (max-width: 768px) {
  .message-form-footer {
    flex-direction: column;
  }

  .message-form-character-count {
    display: none;
  }

  .message-form-refresh-button {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .message-form-footer-message {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
