.article { 
  padding: 2rem;
  max-width: 800px;

  p {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  br {
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0;
  }

  code {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    color: #3b1818;
    white-space: pre-wrap; /* Preserves newlines and text wrapping */
    padding: 0rem 0.25rem;
    margin: 1rem 0;
    line-height: 1.25rem;
    word-wrap: break-word;
  }

  ul {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    margin-left: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.5rem;
  }
}

.article-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.article-inline-code {
  display: inline;
  background-color: #f0f0f0;
  color: #7d2c2c;
  font-weight: 500;
  padding: 0.15rem 0.3rem;
  border-radius: 3px;
  line-height: 1.25rem;
}

.article-highlight {
  background-color: #ddf5e7;
  border-left: 2px solid #9bdfb7;
  padding: 0.5rem;
}