.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.8rem;
  font-style: italic;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}
