.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.error-message {
  width: 100%;
  padding: 1rem;
  background-color: rgb(255, 179, 179);
  border-radius: 3px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.8rem;
  font-style: italic;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-05 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}
